*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
   
    background: url(img/Captura.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family: sans-serif;
}
.container{
    width: 100%;
    max-width: 90%;
    margin: auto;
    margin-top: 10px;
}

a{

    color: #fff;
  }

  a:active{
    color: #fff;
  }

.lbl-menu{
    background: #09dbd4;
}
.lbl-menu label{
    font-family: Arial;
    display: inline-block;
    padding: 25px;
    color: #fff;
    cursor: pointer;
    transition: all 400ms ease;
}
.lbl-menu label:a{
    background: #28435d;
}
.content{
    position: relative;
}
.content div{
    position: absolute;
    line-height: 1.8;
    transition: all 600ms ease;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.90);
    padding: 30px;
    background: #fff;
    padding-bottom: 40px;
}
#radio1,#radio2,#radio3,#radio4{
    display: none;
}
#radio1:checked ~ .tab1,
#radio2:checked ~ .tab2,
#radio3:checked ~ .tab3,
#radio4:checked ~ .tab4
{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.content div:after{
    position:absolute;
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #fff;
    bottom: 100%;
    left: 28px;
}
